.sidebar {
    background-color: #03214C;
    width: 12.5% !important;
}

.main_content {
    background-color: #ffffff;
    width: 87.5% !important;
    /*scrollbar-color: #454a4d #202324;
    background-color: #202124;
    color: #e8e6e3;*/
}