.sidebar {
    background-color: #03214C;
    width: 12.5% !important;
}

.main_content {
    width: 87.5% !important;
    scrollbar-color: #454a4d #202324;
    background-color: #1a1b1c;
    color: #e8e6e3;
}